@{
    ViewData["Title"] = "Home Page";
}


<h1>TigerBytes Administration Center!</h1>

<div class="row">
    <div class="col-md-4">
        <div class="mb-2">
            <a asp-action="UsersManager" class="btn btn-primary d-block">Add new user</a>
        </div>
        <div class="mb-2">
            <a asp-action="AddNewCourse" class="btn btn-primary d-block">Add new course</a>
        </div>
        <div class="mb-2">
            <a asp-action="EmailSender" class="btn btn-primary d-block">Email sender</a>
        </div>
        <div class="mb-2">
            <a asp-action="GenerateAttendanceList" class="btn btn-primary d-block">Generate attendance list</a>
        </div>
    </div>
    <div class="col-md-8">
        
    </div>
</div>