@{
    ViewData["Title"] = "Home Page";
}


<h1>TigerBytes Administration Center!</h1>

<div class="row">
    <div class="col-md-4">
        <div class="mb-2">
            <a asp-action="UsersManager" class="btn btn-primary d-block">Users manager</a>
        </div>
        <div class="mb-2">
            <a asp-action="CourseManager" class="btn btn-primary d-block">Courses Manager</a>
        </div>
        <div class="mb-2">
            <a asp-action="EmailManager" class="btn btn-primary d-block">Email manager</a>
        </div>
        <div class="mb-2">
            <a asp-action="DocumentManager" class="btn btn-primary d-block">Document manager</a>
        </div>
    </div>
    <div class="col-md-8">
        
    </div>
</div>